include lnt_sovereign/manifests/examples/*.json
recursive-exclude lnt_sovereign/vault *
recursive-exclude lnt_sovereign/manifests/mega *
exclude lnt_sovereign/manifests/*.json
include README.md
include LICENSE
